# City Similarity Scorer based on Venues 
- Recommend Similar / Dissimilar cities to given cities
- Can be used to determine if a city is good for moving
- Can be used to explore cities to visit based on cities already visited.

## Setups & Prepare Environment
- Install necessary libraries
- Import required libraries
- Store necessary API credentials

### Install Necessary Libraries

In [2]:
!pip install geopy
!pip install folium
!pip install requests
!pip install fuzzywuzzy

Requirement already satisfied: geopy in c:\users\pawan\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\pawan\anaconda3\lib\site-packages (from geopy) (1.50)
Requirement already satisfied: folium in c:\users\pawan\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: branca in c:\users\pawan\anaconda3\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: requests in c:\users\pawan\anaconda3\lib\site-packages (from folium) (2.21.0)
Requirement already satisfied: six in c:\users\pawan\anaconda3\lib\site-packages (from folium) (1.12.0)
Requirement already satisfied: jinja2 in c:\users\pawan\anaconda3\lib\site-packages (from folium) (2.10)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\pawan\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\pawan\anaconda3\lib\site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pawan\anaconda3\lib\site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\pawan\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\pawan\anaconda3\lib\site-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: requests in c:\users\pawan\anaconda3\lib\site-packages (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\pawan\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\pawan\anaconda3\lib\site-packages (from requests) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pawan\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\pawan\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: fuzzywuzzy in c:\users\pawan\anaconda3\lib\site-packages (0.18.0)

### Import Required Libraries

In [3]:
# Pandas and numpy
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
import folium

# Getting data from internet
import requests
import geopy

# machine learning
import sklearn

# utils
from fuzzywuzzy import fuzz

### Setup Credentials

In [4]:
# @hidden_cell

# Foursquare Credentials
fs_client_id = "WZGPEJLUAAPXNKFJBDCRZFB1Y3HWNGJWRHTYLEZV4552SABS"
fs_client_secret = "TA3F5MXGNV3KA5RCVGPU1QX2MY0E0YY2FVNUIHGVAKGGE33H"
fs_v = "20201205"
base_url = "https://api.foursquare.com/v2/{}"
querystr_args = {
    "client_id": fs_client_id,
    "client_secret": fs_client_secret,
    "v": fs_v
}

## Get Requisite Data

### World Cities Data from : https://simplemaps.com/data/world-cities contains
- City
- Latitude
- Longitude
- Country
- Population

In [5]:
world_cities = pd.read_csv("data/worldcities.csv")
print("{} rows read".format(world_cities.shape[0]))
world_cities.head()

26569 rows read

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

### Function to get latitude and longitude information for a city

In [6]:
def get_lat_long(city: str, country: str) -> tuple:

    """
    Function to return a tuple containing latitude and longitude of a given city in a country

    Parameters:
    ------------
    city : str
        City for which latitude and longitude is required. Provide as much information as possible to avoid
        confusion due to multiple cities of the same name. For e.g. Aberdeen, North Carolina rather than
        just Aberdeen
    country : str
        Two letter country code OR complete string of country in which city is present

    Returns:
    --------
    A tuple containing the (latitude, longitude) if found. If not found, empty tuple is returned

    """

    latitude = None
    longitude = None

    geolocator = geopy.geocoders.Nominatim(user_agent="city_similarity")
    location = geolocator.geocode(city + ", " + country)
    if location:
        print("Returning for: " + location.address)
        return location.latitude, location.longitude
    else:
        return None, None

### Function to get venues for a given city (using foursquare)

In [7]:
def get_nearby_venues(latitude, longitude, city_name, radius=10000, limit=None, categories=None):

    """
    Function takes latitude and longitude of a place, (optional radius and limit params)
    and returns a list of venues within given radius of latitude and longitude 

    Parameters:
    ------------
    latitude : float
        latitude of point around which venues are needed
    longitude : float
        longitude of point around which venues are needed
    name : str
        name of the city. This is to compare city results with what we recieve from Foursquare
    radius: int. Optional. Default 10,000
        radius in metres around which to limit. 
        By default 10,000m (10km) radius. Note that if 10km radius may beyond city limits.
    limit: int. Optional. Default None.
        Limit # of venues returned. If not specified, all results will be returned
    categories: list. Optional. Default None.
        List of categories for which venues are returned. Important if you want similarity scores
        based on only certain criteria of venues. Otherwise, we stay category agnostic

    Returns:
    --------
        List of venues found, with each venue in a dictionary, containing
        venue_name, venue_latitude, venue_longitude and venue_category

    """

    per_query_limit = 50

    # Update URL
    results = None
    venue_list = []
    url = base_url.format("venues/explore")
    i = 0

    # Update request parameters
    querystr_args["categoryId"] = ",".join(categories) if categories else None
    querystr_args["radius"] = radius
    # if we are specifying less than 50, we have to do multiple runs of query, otherwise once only
    querystr_args["limit"] = min(limit, per_query_limit) if limit else per_query_limit
    querystr_args["ll"] = "{},{}".format(latitude, longitude)
    querystr_args["time"] = "any"
    querystr_args["day"] = "any"
    querystr_args["locale"] = "en"          # avoids giving addresses in local languages
    querystr_args["offset"] = None

    city_name_match_ratio = 0
    
    # max iterations will change once you get information about total venues if limit is 
    # not specified
    max_iterations = (max(limit, per_query_limit) if limit else per_query_limit)/ per_query_limit

    # also specify how many venues read. This is because foursquare documentation and
    # API behaviour doesn't match. So we have to cut off venue listing at limit
    venues_read = 0

    while i < max_iterations:

        total_venue_count = 0
        resp = requests.get(url, params=querystr_args)
        # print("Getting venues from: ", resp.url)
        if resp.ok:                                 
            results = resp.json()
            # print(results)
            if results and results["meta"]["code"] == 200:
                # Get total # of results
                total_venue_count = results["response"]["totalResults"]
                
                # Get venues in response
                results = results["response"]["groups"][0]["items"]
                # print("Page {} has {} items".format(i, len(results)))

                # get individual venue details
                for item in results:
                    # print (item)

                    # 10km radius may overshoot the city, This is ok. We are not restricting
                    # Fuzzy matching code is written for extensibility.
                    # Fuzzy matching because english address and local city name may be different
                    if fuzz.ratio(city_name, item["venue"]["location"].get("city")) >= city_name_match_ratio:
                        venue = {}
                        venue["venue_name"] = item["venue"]["name"]
                        venue["venue_latitude"] = item["venue"]["location"]["lat"]
                        venue["venue_longitude"] = item["venue"]["location"]["lng"]
                        if item["venue"]["categories"]:
                            venue["venue_category"] = item["venue"]["categories"][0]["name"]
                        else:
                            venue["venue_category"] = None
                        venue_list.append(venue)
                    else:
                        print("Discarding {}. Venue City: {} instead of {}. Distance: {}"
                            .format(
                                item["venue"]["name"], 
                                item["venue"]["location"].get("city"), 
                                city_name,
                                fuzz.ratio(city_name, item["venue"]["location"].get("city"))))
                    venues_read += 1


            # something came back from fsq
            else:
                print("Error in getting results Iteration: {}. Json returned: {}"
                    .format(i, results))
                    
        # valid response from request
        else:
            print("Error in getting results Iteration: {}. Response status: {}, {}"
                .format(i, resp.status_code, resp.text))

        # Update max iterations if limit is None, otherwise use limit to calculate iterations
        venues_to_read = min(limit, total_venue_count) if limit else total_venue_count
        max_iterations = venues_to_read/per_query_limit

        # get ready for next iteration
        i += 1
        querystr_args["offset"] = i*per_query_limit
        # are we on last page? Limit venues to what is needed
        querystr_args["limit"] = min(venues_to_read - venues_read, per_query_limit)

    # return venues found
    print("{} venues found within {}. {} considered valid"
        .format(total_venue_count, city_name, len(venue_list)))
    return venue_list

# City Similarity Evaluation

1. Get cities for which we need similar cities
    - This could be one or more cities provided by the user. Let us assume two cities
2. Get venues for each of the cities, since this is what is used for similarity.
    - We may want to use specific foursquare categories for venues based on use-case (e.g. Tourism -> focus on Food, art, culture etc.
3. Pick 50 random cities from the list of cities
    - This is being done to stay under the Foursquare API limits of 950 calls per day.
4. Get venues for these random cities
5. Perform one-hot encoding of venues
6. Cluster random cities together based on venues
7. Measure similarities between given cities and randomly selected cities
8. Correlate clusters with similarity scores to find which groups are similar to cities provided and which ones are dissimilar

## Get User-input Cities and venues

In [8]:
user_input_cities = ["New York, NY USA", "Amsterdam, NL"]

# Only select Arts and Entertainment, Food, Nightlife, Outdoors / Recreation, Shop & Service, Travel venues
# venue_categories = [
#     "4d4b7104d754a06370d81259", "4d4b7105d754a06374d81259", 
#     "4d4b7105d754a06376d81259", "4d4b7105d754a06377d81259", 
#     "4d4b7105d754a06378d81259", "4d4b7105d754a06379d81259"
# ]

# Get latitude and longitude for user cities
user_city_list = []
for city in user_input_cities:
    lat, lng = get_lat_long(*city.split(", "))
    if lat and lng:
        user_city_list.append((city.split(", ")[0], lat, lng))

# Get venues for the city
user_city_venues_df = pd.DataFrame()
for city, lat, lng in user_city_list:
    city_venues = get_nearby_venues(lat, lng, city, radius=10000)
    if city_venues:
        per_city_venue_df = pd.DataFrame(city_venues)
        per_city_venue_df["city_name"] = city
        per_city_venue_df["city_latitude"] = lat
        per_city_venue_df["city_longitude"] = lng

        per_city_venue_df = per_city_venue_df[
            ["city_name", "city_latitude", "city_longitude", 
            "venue_name", "venue_latitude", "venue_longitude", "venue_category"]]
        # print(per_city_venue_df.shape[0], " venues found for ", city)
        user_city_venues_df = user_city_venues_df.append(per_city_venue_df, ignore_index=True)

print(user_city_venues_df.shape[0], " rows in total")
user_city_venues_df.head()

Returning for: New York, Stone Street Historic District, New York, United States of America
Returning for: Amsterdam, Noord-Holland, Nederland
236 venues found within New York. 236 considered valid
244 venues found within Amsterdam. 244 considered valid
480  rows in total

,city_name,city_latitude,city_longitude,venue_name,venue_latitude,venue_longitude,venue_category
0,New York,40.712728,-74.006015,Los Tacos No. 1,40.714267,-74.008756,Taco Place
1,New York,40.712728,-74.006015,Aire Ancient Baths,40.718141,-74.004941,Spa
2,New York,40.712728,-74.006015,9/11 Memorial North Pool,40.712077,-74.013187,Memorial Site
3,New York,40.712728,-74.006015,One World Trade Center,40.713069,-74.013133,Building
4,New York,40.712728,-74.006015,Crown Shy,40.706187,-74.007490,Restaurant

In [9]:
print(user_city_venues_df["venue_category"].nunique(), " unique venue categories!")
user_city_venues_df.groupby(["venue_category", "city_name"]).count()

146  unique venue categories!

                                         city_latitude  city_longitude  \
venue_category                city_name
American Restaurant           New York               2               2
Arepa Restaurant              New York               1               1
Art Gallery                   New York               3               3
Art Museum                    Amsterdam              3               3
                              New York               3               3
Arts & Crafts Store           New York               1               1
Athletics & Sports            Amsterdam              1               1
                              New York               1               1
BBQ Joint                     Amsterdam              1               1
                              New York               1               1
Bagel Shop                    New York               1               1
Bakery                        Amsterdam              5               5
                              New York               8               8
Bar                           Amsterdam              9               9
                              New York               3               3
Beach                         New York               1               1
Beer Bar                      Amsterdam              4               4
                              New York               1               1
Beer Garden                   Amsterdam              1               1
Beer Store                    Amsterdam              1               1
                              New York               1               1
Bike Rental / Bike Share      Amsterdam              1               1
Bike Shop                     New York               1               1
Bistro                        Amsterdam              2               2
Bookstore                     Amsterdam              2               2
                              New York               6               6
Botanical Garden              New York               1               1
Boxing Gym                    New York               2               2
Breakfast Spot                Amsterdam              8               8
Brewery                       Amsterdam              3               3
...                                                ...             ...
Spa                           Amsterdam              1               1
                              New York               1               1
Spiritual Center              Amsterdam              1               1
Stables                       Amsterdam              1               1
State / Provincial Park       New York               2               2
Stationery Store              New York               1               1
Steakhouse                    Amsterdam              1               1
                              New York               1               1
Supermarket                   Amsterdam              1               1
Sushi Restaurant              New York               1               1
Taco Place                    New York               4               4
Tapas Restaurant              New York               1               1
Tea Room                      Amsterdam              1               1
Thai Restaurant               Amsterdam              1               1
                              New York               2               2
Theater                       Amsterdam              3               3
                              New York               9               9
Track                         New York               2               2
Trail                         New York               1               1
Turkish Restaurant            Amsterdam              2               2
Udon Restaurant               New York               1               1
Vegetarian / Vegan Restaurant Amsterdam              2               2
Volleyball Court              New York               1               1
Waterfront                    New York               1               1
Whisky Bar                    Amsterdam              1               1
Wine Bar                      Amsterdam              3               3
Wine Shop                     New York               4               4
Yoga Studio                   Amsterdam              6               6
                              New York               3               3
Zoo                           Amsterdam              1               1

                                         venue_name  venue_latitude  \
venue_category                city_name
American Restaurant           New York            2               2
Arepa Restaurant              New York            1               1
Art Gallery                   New York            3               3
Art Museum                    Amsterdam           3               3
                              New York            3               3
Arts & Crafts Store           New York            1               1
Athletics & Sports            Amsterdam           1               1
                              New York            1               1
BBQ Joint                     Amsterdam           1               1
                              New York            1               1
Bagel Shop                    New York            1               1
Bakery                        Amsterdam           5               5
                              New York            8               8
Bar                           Amsterdam           9               9
                              New York            3               3
Beach                         New York            1               1
Beer Bar                      Amsterdam           4               4
                              New York            1               1
Beer Garden                   Amsterdam           1               1
Beer Store                    Amsterdam           1               1
                              New York            1               1
Bike Rental / Bike Share      Amsterdam           1               1
Bike Shop                     New York            1               1
Bistro                        Amsterdam           2               2
Bookstore                     Amsterdam           2               2
                              New York            6               6
Botanical Garden              New York            1               1
Boxing Gym                    New York            2               2
Breakfast Spot                Amsterdam           8               8
Brewery                       Amsterdam           3               3
...                                             ...             ...
Spa                           Amsterdam           1               1
                              New York            1               1
Spiritual Center              Amsterdam           1               1
Stables                       Amsterdam           1               1
State / Provincial Park       New York            2               2
Stationery Store              New York            1               1
Steakhouse                    Amsterdam           1               1
                              New York            1               1
Supermarket                   Amsterdam           1               1
Sushi Restaurant              New York            1               1
Taco Place                    New York            4               4
Tapas Restaurant              New York            1               1
Tea Room                      Amsterdam           1               1
Thai Restaurant               Amsterdam           1               1
                              New York            2               2
Theater                       Amsterdam           3               3
                              New York            9               9
Track                         New York            2               2
Trail                         New York            1               1
Turkish Restaurant            Amsterdam           2               2
Udon Restaurant               New York            1               1
Vegetarian / Vegan Restaurant Amsterdam           2               2
Volleyball Court              New York            1               1
Waterfront                    New York            1               1
Whisky Bar                    Amsterdam           1               1
Wine Bar                      Amsterdam           3               3
Wine Shop                     New York            4               4
Yoga Studio                   Amsterdam           6               6
                              New York            3               3
Zoo                           Amsterdam           1               1

                                         venue_longitude
venue_category                city_name
American Restaurant           New York                 2
Arepa Restaurant              New York                 1
Art Gallery                   New York                 3
Art Museum                    Amsterdam                3
                              New York                 3
Arts & Crafts Store           New York                 1
Athletics & Sports            Amsterdam                1
                              New York                 1
BBQ Joint                     Amsterdam                1
                              New York                 1
Bagel Shop                    New York                 1
Bakery                        Amsterdam                5
                              New York                 8
Bar                           Amsterdam                9
                              New York                 3
Beach                         New York                 1
Beer Bar                      Amsterdam                4
                              New York                 1
Beer Garden                   Amsterdam                1
Beer Store                    Amsterdam                1
                              New York                 1
Bike Rental / Bike Share      Amsterdam                1
Bike Shop                     New York                 1
Bistro                        Amsterdam                2
Bookstore                     Amsterdam                2
                              New York                 6
Botanical Garden              New York                 1
Boxing Gym                    New York                 2
Breakfast Spot                Amsterdam                8
Brewery                       Amsterdam                3
...                                                  ...
Spa                           Amsterdam                1
                              New York                 1
Spiritual Center              Amsterdam                1
Stables                       Amsterdam                1
State / Provincial Park       New York                 2
Stationery Store              New York                 1
Steakhouse                    Amsterdam                1
                              New York                 1
Supermarket                   Amsterdam                1
Sushi Restaurant              New York                 1
Taco Place                    New York                 4
Tapas Restaurant              New York                 1
Tea Room                      Amsterdam                1
Thai Restaurant               Amsterdam                1
                              New York                 2
Theater                       Amsterdam                3
                              New York                 9
Track                         New York                 2
Trail                         New York                 1
Turkish Restaurant            Amsterdam                2
Udon Restaurant               New York                 1
Vegetarian / Vegan Restaurant Amsterdam                2
Volleyball Court              New York                 1
Waterfront                    New York                 1
Whisky Bar                    Amsterdam                1
Wine Bar                      Amsterdam                3
Wine Shop                     New York                 4
Yoga Studio                   Amsterdam                6
                              New York                 3
Zoo                           Amsterdam                1

[189 rows x 5 columns]

## Get Random Cities and Venues from the list of cities

In [10]:
# Sample 100 random cities from world_cities list
random_sample_count = 100
sample_cities = world_cities.sample(random_sample_count)
sample_cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
13289,Ra’s al ‘Ayn,Ra's al `Ayn,36.8503,40.0706,Syria,SY,SYR,Al Ḩasakah,minor,29347.0,1760030804
26457,Caluula,Caluula,11.9670,50.7500,Somalia,SO,SOM,Bari,NaN,513.0,1706796061
15080,Owosso,Owosso,42.9955,-84.1760,United States,US,USA,Michigan,NaN,21315.0,1840003068
22213,Bad Liebenstein,Bad Liebenstein,50.8144,10.3542,Germany,DE,DEU,Thuringia,NaN,7786.0,1276199299
14069,Dedham,Dedham,42.2466,-71.1777,United States,US,USA,Massachusetts,NaN,25377.0,1840053547

In [18]:
# Get venues from the cities and create a dataframe

sample_city_venues_df = pd.DataFrame()
for city, lat, lng in zip(sample_cities["city"], sample_cities["lat"], sample_cities["lng"]):
    # print("Going venue hunting for {} at {}/{}".format(city, lat, lng))
    city_venues = get_nearby_venues(lat, lng, city, radius=10000)
    
    # for tiny cities, if we are checking within city bounds, we may get empty venue list 
    if city_venues:
        per_city_venue_df = pd.DataFrame(city_venues)
        per_city_venue_df["city_name"] = city
        per_city_venue_df["city_latitude"] = lat
        per_city_venue_df["city_longitude"] = lng
        per_city_venue_df = per_city_venue_df[
            ["city_name", "city_latitude", "city_longitude", 
            "venue_name", "venue_latitude", "venue_longitude", "venue_category"]]
        sample_city_venues_df = sample_city_venues_df.append(per_city_venue_df, ignore_index=True)

sample_city_venues_df

39 venues found within Ra’s al ‘Ayn. 39 considered valid
0 venues found within Caluula. 0 considered valid
54 venues found within Owosso. 54 considered valid
17 venues found within Bad Liebenstein. 17 considered valid
237 venues found within Dedham. 237 considered valid
37 venues found within Grodzisk Mazowiecki. 37 considered valid
72 venues found within Bay St. Louis. 72 considered valid
97 venues found within Bearsted. 97 considered valid
17 venues found within Námestovo. 17 considered valid
27 venues found within Balingen. 27 considered valid
30 venues found within Tutong. 30 considered valid
235 venues found within Barton upon Irwell. 235 considered valid
63 venues found within Hampton. 63 considered valid
14 venues found within Mecca. 14 considered valid
240 venues found within Bagneux. 240 considered valid
238 venues found within Hyattsville. 238 considered valid
138 venues found within Bow. 138 considered valid
6 venues found within Kampong Cham. 6 considered valid
6 venues found within Nieuw Amsterdam. 6 considered valid
227 venues found within Macedonia. 227 considered valid
166 venues found within Washington Township. 166 considered valid
205 venues found within Sunset Hills. 205 considered valid
8 venues found within Lityn. 8 considered valid
43 venues found within Fort Drum. 43 considered valid
44 venues found within Horndean. 44 considered valid
75 venues found within Kiambu. 75 considered valid
51 venues found within Sosnowiec. 51 considered valid
234 venues found within Druid Hills. 234 considered valid
4 venues found within Babušnica. 4 considered valid
5 venues found within Tom Price. 5 considered valid
22 venues found within Benevento. 22 considered valid
47 venues found within Gummersbach. 47 considered valid
239 venues found within Lake Forest. 239 considered valid
36 venues found within Altenberg. 36 considered valid
232 venues found within Roxbury. 232 considered valid
235 venues found within South Farmingdale. 235 considered valid
138 venues found within Dasmariñas. 138 considered valid
230 venues found within Bratislava. 230 considered valid
6 venues found within Ras Kebdana. 6 considered valid
1 venues found within Greenville. 1 considered valid
44 venues found within Claremont. 44 considered valid
4 venues found within Negreşti-Oaş. 4 considered valid
79 venues found within Rio Branco. 79 considered valid
239 venues found within Twickenham. 239 considered valid
34 venues found within Canton. 34 considered valid
6 venues found within Parkano. 6 considered valid
211 venues found within Suffern. 211 considered valid
52 venues found within Grinnell. 52 considered valid
10 venues found within Jõgeva. 10 considered valid
99 venues found within Konstancin-Jeziorna. 99 considered valid
14 venues found within Rossosh. 14 considered valid
101 venues found within Chrudim. 101 considered valid
54 venues found within Monroe. 54 considered valid
227 venues found within Edmonton. 227 considered valid
207 venues found within Cumming. 207 considered valid
7 venues found within Pīr Bakrān. 7 considered valid
27 venues found within Borlänge. 27 considered valid
35 venues found within Kınık. 35 considered valid
6 venues found within Tiaret. 6 considered valid
95 venues found within Lünen. 95 considered valid
206 venues found within Mabalacat. 206 considered valid
3 venues found within Shakhtīnsk. 3 considered valid
7 venues found within An Nabk. 7 considered valid
152 venues found within Vacaville. 152 considered valid
119 venues found within Leigh-on-Sea. 119 considered valid
43 venues found within Sosnovyy Bor. 43 considered valid
243 venues found within H̱olon. 243 considered valid
46 venues found within Glücksburg. 46 considered valid
225 venues found within Hatay. 225 considered valid
187 venues found within Lymm. 187 considered valid
33 venues found within Warminster. 33 considered valid
173 venues found within North Star. 173 considered valid
47 venues found within Vasilevo. 47 considered valid
238 venues found within West Slope. 238 considered valid
10 venues found within Rokiškis. 10 considered valid
37 venues found within Vianden. 37 considered valid
9 venues found within Gospić. 9 considered valid
17 venues found within Neuenhaus. 17 considered valid
168 venues found within Escaldes-Engordany. 168 considered valid
16 venues found within Lenti. 16 considered valid
228 venues found within Calabasas. 228 considered valid
163 venues found within Ceres. 163 considered valid
0 venues found within Mocuba. 0 considered valid
53 venues found within San Luis Río Colorado. 53 considered valid
85 venues found within Delson. 85 considered valid
160 venues found within Sindelfingen. 160 considered valid
4 venues found within Santo Tomás de los Plátanos. 4 considered valid
48 venues found within Salcea. 48 considered valid
0 venues found within Melut. 0 considered valid
5 venues found within Bidur. 5 considered valid
82 venues found within Luanda. 82 considered valid
21 venues found within Marāgheh. 21 considered valid
8 venues found within Chilapa de Álvarez. 8 considered valid
232 venues found within Woodside. 232 considered valid
0 venues found within El Manteco. 0 considered valid
62 venues found within Oneida. 62 considered valid
29 venues found within Tirupati. 29 considered valid
3 venues found within El Higo. 3 considered valid
239 venues found within Brisbane. 239 considered valid
236 venues found within Elmwood Park. 236 considered valid

,city_name,city_latitude,city_longitude,venue_name,venue_latitude,venue_longitude,venue_category
0,Ra’s al ‘Ayn,36.8503,40.0706,Azizbey Coffee Shop,36.862475,40.048868,Coffee Shop
1,Ra’s al ‘Ayn,36.8503,40.0706,Hasbihâl Cafe,36.847610,40.053702,Café
2,Ra’s al ‘Ayn,36.8503,40.0706,İncir6 Cafe,36.841199,40.042841,Café
3,Ra’s al ‘Ayn,36.8503,40.0706,Şafak Cafe,36.841551,40.042599,Bar
4,Ra’s al ‘Ayn,36.8503,40.0706,Teras Cafe&Otel,36.849471,40.052688,Café
5,Ra’s al ‘Ayn,36.8503,40.0706,ceylanpınar öğretmenevi restaurant,36.846499,40.054827,Turkish Restaurant
6,Ra’s al ‘Ayn,36.8503,40.0706,eco ciger,36.843972,40.051398,Steakhouse
7,Ra’s al ‘Ayn,36.8503,40.0706,PaşaBey Kebap,36.845106,40.052418,Steakhouse
8,Ra’s al ‘Ayn,36.8503,40.0706,PAŞABEY KEBAP,36.845031,40.052430,Diner
9,Ra’s al ‘Ayn,36.8503,40.0706,Ceylanpınar Tigem Çiftlik,36.840457,40.032132,Farm
10,Ra’s al ‘Ayn,36.8503,40.0706,olimpia fitness center,36.851385,40.053236,Gym / Fitness Center
11,Ra’s al ‘Ayn,36.8503,40.0706,sakli bahce,36.844563,40.050927,Café
12,Ra’s al ‘Ayn,36.8503,40.0706,ogretmenevi cafe bistro,36.846261,40.054468,Café
13,Ra’s al ‘Ayn,36.8503,40.0706,Ceylanpınar Öğretmenevi,36.846241,40.054552,Boarding House
14,Ra’s al ‘Ayn,36.8503,40.0706,Üç Fidan Parkı,36.859522,40.049860,Park
15,Ra’s al ‘Ayn,36.8503,40.0706,Arçelik,36.844879,40.050339,Electronics Store
16,Ra’s al ‘Ayn,36.8503,40.0706,tekben şato,36.845451,40.052145,Botanical Garden
17,Ra’s al ‘Ayn,36.8503,40.0706,Cafe saklı bahçe,36.844590,40.050903,Café
18,Ra’s al ‘Ayn,36.8503,40.0706,ceylanpınar kepez,36.878485,40.037381,Mountain
19,Ra’s al ‘Ayn,36.8503,40.0706,Super Atom Ceylanpinar,36.845471,40.052698,Buffet
20,Ra’s al ‘Ayn,36.8503,40.0706,Tekben Kebap,36.845088,40.052515,Steakhouse
21,Ra’s al ‘Ayn,36.8503,40.0706,Suriye Al Abayad Sınırı,36.858401,40.067212,Mountain
22,Ra’s al ‘Ayn,36.8503,40.0706,Ceylanpinar İlce Stadyumu,36.854831,40.053587,Soccer Stadium
23,Ra’s al ‘Ayn,36.8503,40.0706,önder tatlıcı,36.855894,40.050921,Snack Place
24,Ra’s al ‘Ayn,36.8503,40.0706,Harrani Tarımsal Yayın & Danışmanlık Ltd.Şti.,36.843767,40.050561,Business Service
25,Ra’s al ‘Ayn,36.8503,40.0706,ilçe tarım müdürlüğü,36.856534,40.050012,IT Services
26,Ra’s al ‘Ayn,36.8503,40.0706,kervan lokantası,36.856616,40.049209,Kebab Restaurant
27,Ra’s al ‘Ayn,36.8503,40.0706,Petunya Nargile Cafe,36.859232,40.049622,Café
28,Ra’s al ‘Ayn,36.8503,40.0706,Cemo,36.845520,40.047416,Discount Store
29,Ra’s al ‘Ayn,36.8503,40.0706,Yakamoz Cafe,36.864181,40.050469,Café
...,...,...,...,...,...,...,...
8973,Elmwood Park,41.9225,-87.8163,Bunker Hill Forest Preserve,42.005426,-87.780688,Nature Preserve
8974,Elmwood Park,41.9225,-87.8163,Chicago Diner,41.923785,-87.698497,Vegetarian / Vegan Restaurant
8975,Elmwood Park,41.9225,-87.8163,Seven Seas,41.833432,-87.830119,Exhibit
8976,Elmwood Park,41.9225,-87.8163,"Table, Donkey and Stick",41.917657,-87.696074,New American Restaurant
8977,Elmwood Park,41.9225,-87.8163,Garrett Popcorn Shops,41.978830,-87.906890,Snack Place
8978,Elmwood Park,41.9225,-87.8163,Chief O'Neill's Pub & Restaurant,41.944516,-87.705544,Pub
8979,Elmwood Park,41.9225,-87.8163,Lonesome Rose,41.919586,-87.697166,Mexican Restaurant
8980,Elmwood Park,41.9225,-87.8163,Hugo's Frog Bar & Chop House,41.997858,-87.864210,Steakhouse
8981,Elmwood Park,41.9225,-87.8163,CorePower Yoga,42.010792,-87.838491,Yoga Studio
8982,Elmwood Park,41.9225,-87.8163,Australia House,41.834592,-87.835167,Zoo Exhibit
8983,Elmwood Park,41.9225,-87.8163,Tortas Frontera by Rick Bayless,41.980000,-87.906803,Mexican Restaurant
8984,Elmwood Park,41.9225,-87.8163,The Original Pancake House,42.010020,-87.827946,Breakfast Spot
8985,Elmwood Park,41.9225,-87.8163,Nonno Pino's,42.003132,-87.816886,Italian Restaurant
8986,Elmwood Park,41.9225,-87.8163,Qs Restaurant Pizzeria,41.876839,-87.904587,Pizza Place
8987,Elmwood Park,41.9225,-87.8163,Taquería Moran,41.922533,-87.697319,Mexican Restaurant
8988,Elmwood Park,41.9225,-87.8163,FoodSmart,41.917370,-87.699608,Convenience Store
8989,Elmwood Park,41.9225,-87.8163,Revolution Brewing,41.923519,-87.698308,Brewery
8990,Elmwood Park,41.9225,-87.8163,J.T.’s Genuine Sandwich Shop,41.953089,-87.718617,Sandwich Place
8991,Elmwood Park,41.9225,-87.8163,Ludlow Liquors,41.935658,-87.697595,Bar
8992,Elmwood Park,41.9225,-87.8163,La Michoacana,41.851470,-87.746202,Dessert Shop
8993,Elmwood Park,41.9225,-87.8163,Panera Bread,42.010366,-87.827790,Bakery
8994,Elmwood Park,41.9225,-87.8163,Redmond Park,41.943787,-87.927189,Park
8995,Elmwood Park,41.9225,-87.8163,Brooks (Oscar) Park,42.010524,-87.810235,Park
8996,Elmwood Park,41.9225,-87.8163,Eggsperience Breakfast & Lunch - Park Ridge,42.011748,-87.830885,Breakfast Spot
8997,Elmwood Park,41.9225,-87.8163,Uptown Park Ridge,42.010950,-87.830239,Plaza
8998,Elmwood Park,41.9225,-87.8163,DMen Tap,41.939328,-87.699716,German Restaurant
8999,Elmwood Park,41.9225,-87.8163,The Freeze,41.917465,-87.698041,Ice Cream Shop
9000,Elmwood Park,41.9225,-87.8163,Cozy Corner Diner & Pancake House,41.922452,-87.697075,Diner
9001,Elmwood Park,41.9225,-87.8163,The Old Plank,41.930193,-87.709661,Sports Bar
9002,Elmwood Park,41.9225,-87.8163,Alamo Rent A Car,41.993052,-87.882295,Rental Car Location

In [23]:
# It really makes little sense to compare cities if they come up with very few venues.
# that is not enough information. So dropping venues < 20

scv_copy = sample_city_venues_df.copy()
scv_group_df = sample_city_venues_df.groupby("city_name").count()
sample_city_venues_df = sample_city_venues_df[
    sample_city_venues_df["city_name"].isin(scv_group_df[scv_group_df["venue_name"]>20].index)
]

sample_city_venues_df
sample_city_venues_df.groupby("city_name").count()

,city_latitude,city_longitude,venue_name,venue_latitude,venue_longitude,venue_category
city_name,,,,,,
Altenberg,36,36,36,36,36,36
Bagneux,240,240,240,240,240,240
Balingen,27,27,27,27,27,27
Barton upon Irwell,235,235,235,235,235,235
Bay St. Louis,72,72,72,72,72,72
Bearsted,97,97,97,97,97,97
Benevento,22,22,22,22,22,22
Borlänge,27,27,27,27,27,27
Bow,138,138,138,138,138,138
Bratislava,230,230,230,230,230,230
Brisbane,239,239,239,239,239,239
Calabasas,228,228,228,228,228,228
Canton,34,34,34,34,34,34
Ceres,163,163,163,163,163,163
Chrudim,101,101,101,101,101,101
Claremont,44,44,44,44,44,44
Cumming,207,207,207,207,207,207
Dasmariñas,138,138,138,138,138,138
Dedham,237,237,237,237,237,237
Delson,85,85,85,85,85,85
Druid Hills,234,234,234,234,234,234
Edmonton,227,227,227,227,227,227
Elmwood Park,236,236,236,236,236,236
Escaldes-Engordany,168,168,168,168,168,168
Fort Drum,43,43,43,43,43,43
Glücksburg,46,46,46,46,46,46
Grinnell,52,52,52,52,52,52
Grodzisk Mazowiecki,37,37,37,37,37,37
Gummersbach,47,47,47,47,47,47
Hampton,63,63,63,63,63,63
...,...,...,...,...,...,...
Lymm,187,187,187,187,187,187
Lünen,95,95,95,95,95,95
Mabalacat,206,206,206,206,206,206
Macedonia,227,227,227,227,227,227
Marāgheh,21,21,21,21,21,21
Monroe,54,54,54,54,54,54
North Star,173,173,173,173,173,173
Oneida,62,62,62,62,62,62
Owosso,54,54,54,54,54,54
Ra’s al ‘Ayn,39,39,39,39,39,39
Rio Branco,79,79,79,79,79,79
Roxbury,232,232,232,232,232,232
Salcea,48,48,48,48,48,48
San Luis Río Colorado,53,53,53,53,53,53
Sindelfingen,160,160,160,160,160,160
Sosnovyy Bor,43,43,43,43,43,43
Sosnowiec,51,51,51,51,51,51
South Farmingdale,235,235,235,235,235,235
Suffern,211,211,211,211,211,211
Sunset Hills,205,205,205,205,205,205
Tirupati,29,29,29,29,29,29
Tutong,30,30,30,30,30,30
Twickenham,239,239,239,239,239,239
Vacaville,152,152,152,152,152,152
Vasilevo,47,47,47,47,47,47
Vianden,37,37,37,37,37,37
Warminster,33,33,33,33,33,33
Washington Township,166,166,166,166,166,166
West Slope,238,238,238,238,238,238
Woodside,232,232,232,232,232,232

## One Hot Encoding of Venues in user cities and random cities
### Followed by grouping to get proportion of venue_categories for cities

In [24]:
# For user city venues
user_city_venues_onehot = pd.get_dummies(user_city_venues_df[["venue_category"]], prefix="", prefix_sep="")
user_city_venues_onehot.insert(0, "city_name", user_city_venues_df.city_name)
user_city_venues_grouped = user_city_venues_onehot.groupby("city_name").mean().reset_index()
user_city_venues_grouped

,city_name,American Restaurant,Arepa Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Athletics & Sports,BBQ Joint,Bagel Shop,Bakery,...,Turkish Restaurant,Udon Restaurant,Vegetarian / Vegan Restaurant,Volleyball Court,Waterfront,Whisky Bar,Wine Bar,Wine Shop,Yoga Studio,Zoo
0,Amsterdam,0.000000,0.000000,0.000000,0.012295,0.000000,0.004098,0.004098,0.000000,0.020492,...,0.008197,0.000000,0.008197,0.000000,0.000000,0.004098,0.012295,0.000000,0.024590,0.004098
1,New York,0.008475,0.004237,0.012712,0.012712,0.004237,0.004237,0.004237,0.004237,0.033898,...,0.000000,0.004237,0.000000,0.004237,0.004237,0.000000,0.000000,0.016949,0.012712,0.000000

In [25]:
# For sample city venues
sample_city_venues_onehot = pd.get_dummies(sample_city_venues_df[["venue_category"]], prefix="", prefix_sep="")
sample_city_venues_onehot.insert(0, "city_name", sample_city_venues_df.city_name)
sample_city_venues_grouped = sample_city_venues_onehot.groupby("city_name").mean().reset_index()
sample_city_venues_grouped

,city_name,ATM,Accessories Store,Adult Boutique,Afghan Restaurant,African Restaurant,Airport,Airport Lounge,Airport Service,Airport Terminal,...,Weight Loss Center,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
0,Altenberg,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Bagneux,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.037500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Balingen,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Barton upon Irwell,0.000000,0.000000,0.004255,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.008511,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Bay St. Louis,0.000000,0.000000,0.000000,0.000000,0.0,0.013889,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Bearsted,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Benevento,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Borlänge,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,Bow,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.007246,0.000000,0.000000,0.000000,0.000000
9,Bratislava,0.000000,0.000000,0.000000,0.000000,0.0,0.004348,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.030435,0.004348,0.000000,0.000000,0.000000,0.008696,0.000000,0.000000
10,Brisbane,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.008368,0.000000,0.004184,0.000000,0.000000,0.000000,0.000000,0.004184,0.000000
11,Calabasas,0.004386,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.004386,0.000000,0.000000,0.008772,0.000000,0.000000,0.000000
12,Canton,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,Ceres,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.006135,0.006135,0.006135,0.000000,0.000000,0.000000,0.000000,0.000000
14,Chrudim,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.019802,...,0.00000,0.000000,0.000000,0.009901,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,Claremont,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,Cumming,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.009662,0.000000,0.000000,0.000000,0.000000
17,Dasmariñas,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,Dedham,0.000000,0.004219,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.012658,0.000000,0.000000,0.000000,0.004219,0.004219,0.000000
19,Delson,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,Druid Hills,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.004274,0.017094,0.000000,0.000000,0.004274,0.004274,0.000000,0.000000
21,Edmonton,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.008811,0.000000,0.000000,0.000000,0.004405,0.000000,0.004405,0.000000,0.000000
22,Elmwood Park,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004237,0.000000,0.000000,...,0.00000,0.000000,0.004237,0.000000,0.000000,0.000000,0.000000,0.008475,0.000000,0.004237
23,Escaldes-Engordany,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.005952,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,Fort Drum,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,Glücksburg,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.021739,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,Grinnell,0.000000,0.000000,0.000000,0.000000,0.0,0.019231,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,Grodzisk Mazowiecki,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,Gummersbach,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021277,0.000000
29,Hampton,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,Lymm,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.005348,0.000000,0.000000,0.000000,0.000000,0.000000,0.005348,0.000000
41,Lünen,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.010526,0.000000,0.000000,0.000000,0.000000
42,Mabalacat,0.000000,0.000000,0.000000,0.000000,0.0,0.004854,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.004854,0.000000,0.000000,0.000000,0.004854,0.000000
43,Macedonia,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.008811,0.004405,0.000000,0.008811,0.000000,0.004405,0.000000,0.000000
44,Marāgheh,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
45,Monroe,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000000,0.000000,0.000000,0.000000
46,North Star,0.000000,0.000000,0.000000,0.000000,0.0,0.005780,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.005780,0.000000,0.005780,0.000000,0.000000,0.000000,0.000000
47,Oneida,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.016129,0.000000,0.000000,0.000000,0.000000
48,Owosso,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.018519,0.000000,0.000000,0.000000
49,Ra’s al ‘Ayn,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50,Rio Branco,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
51,Roxbury,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00431,0.000000,0.000000,0.000000,0.000000,0.004310,0.000000,0.000000,0.000000,0.000000
52,Salcea,0.000000,0.000000,0.000000,0.000000,0.0,0.041667,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
53,San Luis Río Colorado,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.037736,0.000000,0.000000,0.000000,0.000000
54,Sindelfingen,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.006250,0.000000,0.000000,0.000000,0.000000,0.000000
55,Sosnovyy Bor,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56,Sosnowiec,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
57,South Farmingdale,0.000000,0.000000,0.000000,0.000000,0.0,0.004255,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.008511,0.000000,0.000000,0.000000,0.004255,0.000000,0.000000
58,Suffern,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.018957,0.004739,0.000000,0.000000
59,Sunset Hills,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.004878,0.009756,0.000000,0.004878,0.004878,0.000000,0.004878,0.000000
60,Tirupati,0.000000,0.000000,0.000000,0.000000,0.0,0.034483,0.000000,0.000000,0.034483,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
61,Tutong,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
62,Twickenham,0.000000,0.000000,0.000000,0.004184,0.0,0.004184,0.050209,0.004184,0.000000,...,0.00000,0.000000,0.004184,0.000000,0.000000,0.000000,0.000000,0.004184,0.000000,0.000000
63,Vacaville,0.006579,0.006579,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006579,0.000000,0.000000,0.000000
64,Vasilevo,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
65,Vianden,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
66,Warminster,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.030303,0.060606
67,Washington Township,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.006024,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
68,West Slope,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.004202,0.000000,0.000000,0.000000,0.000000,0.004202,0.008403,0.000000
69,Woodside,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.008621,0.004310,0.000000,0.000000,0.008621,0.000000,0.000000,0.000000

## Find Cosine Similarity between user cities and sample cities

In [26]:
# You need to have only common venue categories between both arrays to use cosine similarity
# Since we are finding similarities with user provided cities, let's use columns from that array
user_city_venues_grouped_ndarray = user_city_venues_grouped.drop("city_name", 1)
sample_city_venues_grouped_ndarray = sample_city_venues_grouped.drop("city_name", 1)
sample_city_venues_grouped_ndarray = \
    sample_city_venues_grouped_ndarray.loc[:, user_city_venues_grouped_ndarray.columns].fillna(0.0)
print(user_city_venues_grouped_ndarray.shape, sample_city_venues_grouped_ndarray.shape)

# Convert dataframes to numpy arrays
user_city_venues_grouped_ndarray = user_city_venues_grouped_ndarray.to_numpy()
sample_city_venues_grouped_ndarray = sample_city_venues_grouped_ndarray.to_numpy()

# Now find cosine similarities
import sklearn.metrics
cosine_similarities = sklearn.metrics.pairwise.cosine_similarity(
    sample_city_venues_grouped_ndarray, user_city_venues_grouped_ndarray
)

# convert cosine similarities to dataframe
cosine_similarities_df = pd.DataFrame(
    data=cosine_similarities, 
    columns=user_city_venues_grouped.city_name.tolist())

cosine_similarities_df.insert(0, "city_name", sample_city_venues_grouped.city_name)

cosine_similarities_df

(2, 146) (70, 146)

                city_name  Amsterdam  New York
0               Altenberg   0.540714  0.067875
1                 Bagneux   0.612902  0.441608
2                Balingen   0.165268  0.127305
3      Barton upon Irwell   0.695582  0.433480
4           Bay St. Louis   0.479543  0.273900
5                Bearsted   0.387512  0.230056
6               Benevento   0.565277  0.244929
7                Borlänge   0.405543  0.093008
8                     Bow   0.574423  0.472873
9              Bratislava   0.701239  0.416556
10               Brisbane   0.713026  0.433989
11              Calabasas   0.483374  0.505494
12                 Canton   0.469326  0.386574
13                  Ceres   0.461765  0.299899
14                Chrudim   0.477605  0.275202
15              Claremont   0.245885  0.218866
16                Cumming   0.508743  0.453170
17             Dasmariñas   0.597790  0.322999
18                 Dedham   0.478020  0.636009
19                 Delson   0.551229  0.372868
20            Druid Hills   0.510272  0.611580
21               Edmonton   0.681511  0.459763
22           Elmwood Park   0.620011  0.685770
23     Escaldes-Engordany   0.644605  0.137951
24              Fort Drum   0.257285  0.256359
25             Glücksburg   0.676273  0.138350
26               Grinnell   0.426107  0.302110
27    Grodzisk Mazowiecki   0.566953  0.323496
28            Gummersbach   0.332744  0.133181
29                Hampton   0.254649  0.209968
..                    ...        ...       ...
40                   Lymm   0.557242  0.252313
41                  Lünen   0.166598  0.104564
42              Mabalacat   0.663317  0.220436
43              Macedonia   0.526374  0.597723
44               Marāgheh   0.622175  0.332546
45                 Monroe   0.303484  0.239766
46             North Star   0.537127  0.483391
47                 Oneida   0.477346  0.419805
48                 Owosso   0.436798  0.394528
49           Ra’s al ‘Ayn   0.385948  0.146914
50             Rio Branco   0.495286  0.517651
51                Roxbury   0.353474  0.465023
52                 Salcea   0.558306  0.458139
53  San Luis Río Colorado   0.367934  0.349477
54           Sindelfingen   0.573976  0.274850
55           Sosnovyy Bor   0.382756  0.242370
56              Sosnowiec   0.371414  0.302422
57      South Farmingdale   0.487129  0.483955
58                Suffern   0.502305  0.383319
59           Sunset Hills   0.532987  0.617291
60               Tirupati   0.498354  0.037173
61                 Tutong   0.220841  0.154647
62             Twickenham   0.524663  0.473877
63              Vacaville   0.454058  0.442589
64               Vasilevo   0.477928  0.303242
65                Vianden   0.695468  0.112245
66             Warminster   0.618225  0.119054
67    Washington Township   0.495129  0.547552
68             West Slope   0.701042  0.592110
69               Woodside   0.615244  0.610199

[70 rows x 3 columns]

## Cluster based on similarity to input cities
- This is so that we can find the right group of cities to choose from depending on input cities
- We will also try clustering based on venues to see how that impacts things
    - Differences are expected because venue-categories are different for cosine similarity and clustering

In [27]:
## FIRST FIND THE OPTIMAL K
from sklearn.cluster import KMeans
import sklearn.metrics

def optimal_k(max_k: int, data) -> int:
    
    """
    Finds optimal K for clustering based on multiple algorithms for given data

    Parameters
    -----------
    max_k: Maximum value of K to test clustering for
    data: Data to be used for clustering model fit. Dataframe likely.

    Returns
    ---------
    Best value of K depending on scores
    """
    perf_scores = {}

    def update_scorelist(eval_method, score):
        score_list = perf_scores.get(eval_method) if perf_scores.get(eval_method) else []
        score_list.append(score)
        perf_scores[eval_method] = score_list

    for k in range(2, max_k + 1):
        k_means = KMeans(n_clusters=k, random_state=0).fit(data)

        # silhouette
        score = sklearn.metrics.silhouette_score(data, k_means.labels_, metric="euclidean")
        update_scorelist("silhouette", score)
    
        # Calinski-Harabasz Index
        score = sklearn.metrics.calinski_harabaz_score(data, k_means.labels_)
        update_scorelist("chindex", score)

        # Davies-Boudin Index (Lower is better)
        score = sklearn.metrics.davies_bouldin_score(data, k_means.labels_)
        update_scorelist("dbindex", score * -1)

    k_eval_scores_df = pd.DataFrame(perf_scores, index=range(2, max_k+1))
    print("Scores for different evaluation methods \n", k_eval_scores_df)

    # Now get the most common "K" corresponding to best scores
    return k_eval_scores_df.idxmax().mode().iat[0]

In [28]:
# Best K for cosine_similarity based clustering
cosine_similarity_clustering = cosine_similarities_df.drop("city_name", axis=1)
best_k_cosine = optimal_k(min(10, random_sample_count-1), cosine_similarity_clustering)
print("Best value of K for K-Means Clustering for cosine is: ", best_k_cosine)

# Best K for venue based city clustering
sample_city_venues_grouped_clustering = sample_city_venues_grouped.drop("city_name", axis=1)
best_k_venues = optimal_k(min(10, random_sample_count-1), sample_city_venues_grouped_clustering)
print("Best value of K for K-means Clustering for venue based is: ", best_k_venues)

Scores for different evaluation methods
     silhouette    chindex   dbindex
2     0.419522  67.491895 -0.914515
3     0.423943  72.750195 -0.823838
4     0.390056  74.291245 -0.805947
5     0.401783  74.232144 -0.775319
6     0.411694  74.328725 -0.752050
7     0.405748  77.126973 -0.708961
8     0.400940  81.727222 -0.686822
9     0.390991  80.380440 -0.760795
10    0.426492  84.916755 -0.702293
Best value of K for K-Means Clustering for cosine is:  10
Scores for different evaluation methods
     silhouette    chindex   dbindex
2     0.130194  10.155475 -2.418381
3     0.141524   7.584114 -2.413104
4     0.190934   8.470256 -1.902081
5     0.182718   8.102018 -1.792140
6     0.117264   7.161830 -1.986046
7     0.129951   7.339737 -1.646481
8     0.086059   6.870032 -1.841283
9     0.086312   6.196892 -1.793630
10    0.137296   6.322522 -1.610861
Best value of K for K-means Clustering for venue based is:  2

### K-Means with Cosine Similarity Dataframe

In [29]:
kmeans = KMeans(n_clusters=best_k_cosine, random_state=0).fit(cosine_similarity_clustering)
cluster_df = pd.DataFrame(kmeans.labels_, columns=["cluster_label"])
cluster_df.insert(0, "city_name", cosine_similarities_df["city_name"])
cluster_df

                city_name  cluster_label
0               Altenberg              2
1                 Bagneux              0
2                Balingen              1
3      Barton upon Irwell              0
4           Bay St. Louis              4
5                Bearsted              4
6               Benevento              9
7                Borlänge              8
8                     Bow              3
9              Bratislava              0
10               Brisbane              0
11              Calabasas              3
12                 Canton              6
13                  Ceres              4
14                Chrudim              4
15              Claremont              1
16                Cumming              3
17             Dasmariñas              9
18                 Dedham              7
19                 Delson              6
20            Druid Hills              7
21               Edmonton              0
22           Elmwood Park              5
23     Escaldes-Engordany              2
24              Fort Drum              1
25             Glücksburg              2
26               Grinnell              4
27    Grodzisk Mazowiecki              9
28            Gummersbach              8
29                Hampton              1
..                    ...            ...
40                   Lymm              9
41                  Lünen              1
42              Mabalacat              9
43              Macedonia              7
44               Marāgheh              9
45                 Monroe              1
46             North Star              3
47                 Oneida              6
48                 Owosso              6
49           Ra’s al ‘Ayn              8
50             Rio Branco              3
51                Roxbury              6
52                 Salcea              3
53  San Luis Río Colorado              4
54           Sindelfingen              9
55           Sosnovyy Bor              4
56              Sosnowiec              4
57      South Farmingdale              3
58                Suffern              6
59           Sunset Hills              7
60               Tirupati              8
61                 Tutong              1
62             Twickenham              3
63              Vacaville              6
64               Vasilevo              4
65                Vianden              2
66             Warminster              2
67    Washington Township              3
68             West Slope              5
69               Woodside              5

[70 rows x 2 columns]

# Visualization

## Prepare for visualization

In [30]:
# Create a dataframe with clusters, and city latitude/longitude
visualization_df = pd.merge(
    sample_cities[["city", "country", "lat", "lng"]], 
    cluster_df.rename(columns={"city_name": "city"}), 
    on="city", how="inner"
)
visualization_df

                     city         country      lat       lng  cluster_label
0            Ra’s al ‘Ayn           Syria  36.8503   40.0706              8
1                  Owosso   United States  42.9955  -84.1760              6
2                  Dedham   United States  42.2466  -71.1777              7
3     Grodzisk Mazowiecki          Poland  52.1039   20.6337              9
4           Bay St. Louis   United States  30.3281  -89.3774              4
5                Bearsted  United Kingdom  51.2738    0.5789              4
6                Balingen         Germany  48.2731    8.8506              1
7                  Tutong          Brunei   4.8028  114.6492              1
8      Barton upon Irwell  United Kingdom  53.4760   -2.3600              0
9                 Hampton   United States  33.3835  -84.2855              1
10                Bagneux          France  48.7983    2.3137              0
11            Hyattsville   United States  38.9612  -76.9548              0
12                    Bow   United States  43.1308  -71.5307              3
13              Macedonia   United States  41.3147  -81.4989              7
14    Washington Township   United States  40.7877  -74.7918              3
15           Sunset Hills   United States  38.5310  -90.4087              7
16              Fort Drum   United States  44.0451  -75.7847              1
17               Horndean  United Kingdom  50.9136   -0.9961              1
18                 Kiambu           Kenya  -1.1714   36.8356              9
19              Sosnowiec          Poland  50.3000   19.1667              4
20            Druid Hills   United States  33.7842  -84.3273              7
21              Benevento           Italy  41.1256   14.7811              9
22            Gummersbach         Germany  51.0333    7.5667              8
23            Lake Forest   United States  33.6606 -117.6712              3
24              Altenberg         Germany  50.7644   13.7578              2
25                Roxbury   United States  40.8822  -74.6522              6
26      South Farmingdale   United States  40.7175  -73.4471              3
27             Dasmariñas     Philippines  14.3294  120.9367              9
28             Bratislava        Slovakia  48.1447   17.1128              0
29              Claremont   United States  43.3790  -72.3368              1
..                    ...             ...      ...       ...            ...
40               Borlänge          Sweden  60.4833   15.4167              8
41                  Kınık          Turkey  39.0872   27.3833              8
42                  Lünen         Germany  51.6167    7.5167              1
43              Mabalacat     Philippines  15.2167  120.5833              9
44              Vacaville   United States  38.3590 -121.9680              6
45           Leigh-on-Sea  United Kingdom  51.5425    0.6535              4
46           Sosnovyy Bor          Russia  59.9000   29.1000              4
47                 H̱olon          Israel  32.0167   34.7667              0
48             Glücksburg         Germany  54.8336    9.5500              2
49                  Hatay          Turkey  36.2000   36.1500              2
50                   Lymm  United Kingdom  53.3834   -2.4750              9
51             Warminster  United Kingdom  51.2050   -2.1810              2
52             North Star   United States  39.7550  -75.7331              3
53               Vasilevo       Macedonia  41.4741   22.6430              4
54             West Slope   United States  45.4962 -122.7731              5
55                Vianden      Luxembourg  49.9350    6.2089              2
56     Escaldes-Engordany         Andorra  42.5085    1.5385              2
57              Calabasas   United States  34.1375 -118.6689              3
58                  Ceres   United States  37.5953 -120.9625              4
59  San Luis Río Colorado          Mexico  32.4767 -114.7625              4
60                 Delson          Canada  45.3700  -73.5500              6
61           Sindelfingen         Germany  48.7133    9.0028              9
62                 Salcea         Romania  47.6500   26.3700              3
63                 Luanda          Angola  -8.8383   13.2344              6
64               Marāgheh            Iran  37.3833   46.2667              9
65               Woodside   United States  37.4222 -122.2591              5
66                 Oneida   United States  43.0769  -75.6621              6
67               Tirupati           India  13.6500   79.4200              8
68               Brisbane       Australia -27.4678  153.0281              0
69           Elmwood Park   United States  41.9225  -87.8163              5

[70 rows x 5 columns]

In [31]:
# Now visualize dataframe using folium
map_sample_cities = folium.Map([40.866667, 34.566667], zoom_start=1.5)

import matplotlib.cm
import matplotlib.colors

# set color scheme for the clusters
x = np.arange(best_k_cosine)
ys = [i + x + (i*x)**2 for i in range(best_k_cosine)]
colors_array = matplotlib.cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [matplotlib.colors.rgb2hex(i) for i in colors_array]
print(ys)

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(visualization_df['lat'], visualization_df['lng'], 
    visualization_df['city'], visualization_df['cluster_label']
):
    
    label = folium.Popup("{}: Cluster {}".format(poi, cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_sample_cities)

[array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64), array([ 1,  3,  7, 13, 21, 31, 43, 57, 73, 91], dtype=int64), array([  2,   7,  20,  41,  70, 107, 152, 205, 266, 335], dtype=int64), array([  3,  13,  41,  87, 151, 233, 333, 451, 587, 741], dtype=int64), array([   4,   21,   70,  151,  264,  409,  586,  795, 1036, 1309],
      dtype=int64), array([   5,   31,  107,  233,  409,  635,  911, 1237, 1613, 2039],
      dtype=int64), array([   6,   43,  152,  333,  586,  911, 1308, 1777, 2318, 2931],
      dtype=int64), array([   7,   57,  205,  451,  795, 1237, 1777, 2415, 3151, 3985],
      dtype=int64), array([   8,   73,  266,  587, 1036, 1613, 2318, 3151, 4112, 5201],
      dtype=int64), array([   9,   91,  335,  741, 1309, 2039, 2931, 3985, 5201, 6579],
      dtype=int64)]

In [32]:
map_sample_cities

# Analysis

In [33]:
# First Create the right dataframe
analysis_df = pd.merge(
    visualization_df, 
    cosine_similarities_df.rename(columns={"city_name": "city"}), 
    how="inner", on="city"
)

analysis_df

,city,country,lat,lng,cluster_label,Amsterdam,New York
0,Ra’s al ‘Ayn,Syria,36.8503,40.0706,8,0.385948,0.146914
1,Owosso,United States,42.9955,-84.1760,6,0.436798,0.394528
2,Dedham,United States,42.2466,-71.1777,7,0.478020,0.636009
3,Grodzisk Mazowiecki,Poland,52.1039,20.6337,9,0.566953,0.323496
4,Bay St. Louis,United States,30.3281,-89.3774,4,0.479543,0.273900
5,Bearsted,United Kingdom,51.2738,0.5789,4,0.387512,0.230056
6,Balingen,Germany,48.2731,8.8506,1,0.165268,0.127305
7,Tutong,Brunei,4.8028,114.6492,1,0.220841,0.154647
8,Barton upon Irwell,United Kingdom,53.4760,-2.3600,0,0.695582,0.433480
9,Hampton,United States,33.3835,-84.2855,1,0.254649,0.209968
10,Bagneux,France,48.7983,2.3137,0,0.612902,0.441608
11,Hyattsville,United States,38.9612,-76.9548,0,0.722008,0.510732
12,Bow,United States,43.1308,-71.5307,3,0.574423,0.472873
13,Macedonia,United States,41.3147,-81.4989,7,0.526374,0.597723
14,Washington Township,United States,40.7877,-74.7918,3,0.495129,0.547552
15,Sunset Hills,United States,38.5310,-90.4087,7,0.532987,0.617291
16,Fort Drum,United States,44.0451,-75.7847,1,0.257285,0.256359
17,Horndean,United Kingdom,50.9136,-0.9961,1,0.251864,0.144737
18,Kiambu,Kenya,-1.1714,36.8356,9,0.672690,0.251749
19,Sosnowiec,Poland,50.3000,19.1667,4,0.371414,0.302422
20,Druid Hills,United States,33.7842,-84.3273,7,0.510272,0.611580
21,Benevento,Italy,41.1256,14.7811,9,0.565277,0.244929
22,Gummersbach,Germany,51.0333,7.5667,8,0.332744,0.133181
23,Lake Forest,United States,33.6606,-117.6712,3,0.579623,0.494186
24,Altenberg,Germany,50.7644,13.7578,2,0.540714,0.067875
25,Roxbury,United States,40.8822,-74.6522,6,0.353474,0.465023
26,South Farmingdale,United States,40.7175,-73.4471,3,0.487129,0.483955
27,Dasmariñas,Philippines,14.3294,120.9367,9,0.597790,0.322999
28,Bratislava,Slovakia,48.1447,17.1128,0,0.701239,0.416556
29,Claremont,United States,43.3790,-72.3368,1,0.245885,0.218866
...,...,...,...,...,...,...,...
40,Borlänge,Sweden,60.4833,15.4167,8,0.405543,0.093008
41,Kınık,Turkey,39.0872,27.3833,8,0.434332,0.146425
42,Lünen,Germany,51.6167,7.5167,1,0.166598,0.104564
43,Mabalacat,Philippines,15.2167,120.5833,9,0.663317,0.220436
44,Vacaville,United States,38.3590,-121.9680,6,0.454058,0.442589
45,Leigh-on-Sea,United Kingdom,51.5425,0.6535,4,0.397170,0.314348
46,Sosnovyy Bor,Russia,59.9000,29.1000,4,0.382756,0.242370
47,H̱olon,Israel,32.0167,34.7667,0,0.659109,0.451113
48,Glücksburg,Germany,54.8336,9.5500,2,0.676273,0.138350
49,Hatay,Turkey,36.2000,36.1500,2,0.573339,0.175051
50,Lymm,United Kingdom,53.3834,-2.4750,9,0.557242,0.252313
51,Warminster,United Kingdom,51.2050,-2.1810,2,0.618225,0.119054
52,North Star,United States,39.7550,-75.7331,3,0.537127,0.483391
53,Vasilevo,Macedonia,41.4741,22.6430,4,0.477928,0.303242
54,West Slope,United States,45.4962,-122.7731,5,0.701042,0.592110
55,Vianden,Luxembourg,49.9350,6.2089,2,0.695468,0.112245
56,Escaldes-Engordany,Andorra,42.5085,1.5385,2,0.644605,0.137951
57,Calabasas,United States,34.1375,-118.6689,3,0.483374,0.505494
58,Ceres,United States,37.5953,-120.9625,4,0.461765,0.299899
59,San Luis Río Colorado,Mexico,32.4767,-114.7625,4,0.367934,0.349477
60,Delson,Canada,45.3700,-73.5500,6,0.551229,0.372868
61,Sindelfingen,Germany,48.7133,9.0028,9,0.573976,0.274850
62,Salcea,Romania,47.6500,26.3700,3,0.558306,0.458139
63,Luanda,Angola,-8.8383,13.2344,6,0.497730,0.355683
64,Marāgheh,Iran,37.3833,46.2667,9,0.622175,0.332546
65,Woodside,United States,37.4222,-122.2591,5,0.615244,0.610199
66,Oneida,United States,43.0769,-75.6621,6,0.477346,0.419805
67,Tirupati,India,13.6500,79.4200,8,0.498354,0.037173
68,Brisbane,Australia,-27.4678,153.0281,0,0.713026,0.433989
69,Elmwood Park,United States,41.9225,-87.8163,5,0.620011,0.685770

In [34]:
analysis_df.groupby("cluster_label").mean()

                     lat         lng  Amsterdam  New York
cluster_label
0              35.351929    2.059457   0.683625  0.449606
1              38.776600  -23.262825   0.233234  0.182027
2              47.574417   10.837367   0.624771  0.125088
3              37.055473  -57.876145   0.528852  0.493423
4              44.657770  -32.988910   0.422974  0.289303
5              41.613633 -110.949500   0.645432  0.629360
6              34.444575  -72.618462   0.467783  0.402549
7              38.969125  -81.853150   0.511913  0.615651
8              40.220820   33.971460   0.411384  0.111340
9              32.635525   45.820612   0.602428  0.277915

The following things are evident:

1. Cluster 2 is similar to Amsterdam and dissimilar to New York
2. Cluster 7 is most similar to New York
3. Cluster 5 is similar to both Amsterdam and New York (high similarity)
4. Cluster 1 is not similar to Amsterdam and New York!

## Cluster 2 - Cities Similar to Amsterdam and dissimilar to New York

In [36]:
cluster2_df = analysis_df[analysis_df["cluster_label"] == 2]
print ("{} cities similar to Amsterdam but not to New York".format(cluster2_df.shape[0]))
cluster2_df

6 cities similar to Amsterdam but not to New York

,city,country,lat,lng,cluster_label,Amsterdam,New York
24,Altenberg,Germany,50.7644,13.7578,2,0.540714,0.067875
48,Glücksburg,Germany,54.8336,9.5500,2,0.676273,0.138350
49,Hatay,Turkey,36.2000,36.1500,2,0.573339,0.175051
51,Warminster,United Kingdom,51.2050,-2.1810,2,0.618225,0.119054
55,Vianden,Luxembourg,49.9350,6.2089,2,0.695468,0.112245
56,Escaldes-Engordany,Andorra,42.5085,1.5385,2,0.644605,0.137951

## Cluster 7 - Cities Similar to New York (and sometimes to Amsterdam)

In [37]:
cluster7_df = analysis_df[analysis_df["cluster_label"] == 7]
print ("{} cities similar to New York".format(cluster7_df.shape[0]))
cluster7_df

4 cities similar to New York

,city,country,lat,lng,cluster_label,Amsterdam,New York
2,Dedham,United States,42.2466,-71.1777,7,0.478020,0.636009
13,Macedonia,United States,41.3147,-81.4989,7,0.526374,0.597723
15,Sunset Hills,United States,38.5310,-90.4087,7,0.532987,0.617291
20,Druid Hills,United States,33.7842,-84.3273,7,0.510272,0.611580

## Cluster 5 - Cities Similar to both Amsterdam and New York Similarly

In [38]:
cluster5_df = analysis_df[analysis_df["cluster_label"] == 5]
print ("{} cities similar to both Amsterdam and New York".format(cluster5_df.shape[0]))
cluster5_df

3 cities similar to both Amsterdam and New York

,city,country,lat,lng,cluster_label,Amsterdam,New York
54,West Slope,United States,45.4962,-122.7731,5,0.701042,0.592110
65,Woodside,United States,37.4222,-122.2591,5,0.615244,0.610199
69,Elmwood Park,United States,41.9225,-87.8163,5,0.620011,0.685770

## Cluster 1 - Cities very dissimilar from Amsterdam as well as New York

In [39]:
cluster1_df = analysis_df[analysis_df["cluster_label"] == 1]
print ("{} cities dissimilar to Amsterdam & New York".format(cluster1_df.shape[0]))
cluster1_df

8 cities dissimilar to Amsterdam & New York

,city,country,lat,lng,cluster_label,Amsterdam,New York
6,Balingen,Germany,48.2731,8.8506,1,0.165268,0.127305
7,Tutong,Brunei,4.8028,114.6492,1,0.220841,0.154647
9,Hampton,United States,33.3835,-84.2855,1,0.254649,0.209968
16,Fort Drum,United States,44.0451,-75.7847,1,0.257285,0.256359
17,Horndean,United Kingdom,50.9136,-0.9961,1,0.251864,0.144737
29,Claremont,United States,43.3790,-72.3368,1,0.245885,0.218866
37,Monroe,United States,33.7990,-83.7160,1,0.303484,0.239766
42,Lünen,Germany,51.6167,7.5167,1,0.166598,0.104564